@import url('https://fonts.googleapis.com/css2?family=Kavivanar&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Kavivanar', cursive;
  }
  
  body {
    background-image: url("../images/backrounbd2.jpeg");
    background-color: #cccccc;
   
   }



  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 23%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  
  html {
    font-family: "Lucida Sans", sans-serif;
  }
  
  .header {
    text-align: center;
    background-color: rgba(87, 49, 49, 0.2);
    color: #131212;
    padding: 15px;
    animation-name: changeColor; 
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate;
  }
  
  .menu ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
  }
  
  .menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #578a72;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  
  .menu li:hover {
    background-color: #2d3031;
  }
  .col-12{
      text-align: center;
      color: black;
      background-color: rgba(87, 49, 49, 0.2);
      padding: 20px;
      margin: 0px auto 0;
      width: 100%;  
      animation-name: changeColor; 
      animation-duration: 2s;
      animation-iteration-count: 2;
      animation-direction: alternate;
     
    
  }
  .col-12 h2{
        letter-spacing: 1px;
      
  }

  .form {
    width: 100%;
    margin: 25px 0;

  }

  .top-form,
.middle-form,
.bottom-form {
  width: 100%;
  min-height: 65px;
  margin: 10px 0;
}

.form input[type="text"],
.form textarea {
  border: 2px solid #fff;
  padding: 10px 5px;
  outline: none;
  border-radius: 2px;
  width: 100%;
  transition: all 0.2s ease;
}
.form input:focus,
.form textarea:focus {
  border-color: #111616;
  outline: none;
  /*box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.0125),
    0 0 8px rgba(76, 161, 175, 0.5);*/
}

.form .label {
  margin-bottom: 5px;
  text-transform: capitalize;
}

/* top-contact */
.top-form .inner-form {
  width: 29.9%;
  float: left;
  margin-right: 5%;
}

.top-form .inner-form:last-child {
  margin-right: 0;
}


/* middle-form */
.middle-form {
    clear: both;
  }
  
  /* bottom-form */
  .bottom-form textarea {
    height: 80px;
  }
  
  .form-control {
    background: #272f31;
    width: 200px;
    padding: 10px 0;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
  }

 

.submit:hover{
    opacity: 1;
    cursor: pointer;
    background-color: rgb(73, 69, 69);
  }

  @keyframes changeColor {
    from {background-color: rgba(87, 49, 49, 0.2);}
    to {background-color: rgba(4, 15, 10, 0.61);}
    
  } 
  
